.field {
  width: 100%;
}

.wrapper {
  padding: 1rem;
  width: 100%;
  display: table;
}

.input {
  font-size: 1.3em !important;
  font-weight: bold !important;
}

.icon {
  float: right;
}

.buttonGroup {
  float: right;
}
