.optionDesc {
  width: 80%;
  margin: 0 1rem 0 1rem;
}

.table {
  width: 100%;
  display: table;
}

.field {
  width: 100%;
}

.wrapper {
  padding: 1rem;
  width: 100%;
  display: table;
}

.row {
  padding-top: 1rem;
}
