.wrapper {
  padding: 1rem;
  width: 100%;
  display: table;
}

.icon {
  float: right;
}

.buttonGroup {
  float: right;
}

.opts {
  align-items: left;
  width: calc(100% + 32px);
  margin-right: -16px !important;
}

.list {
  margin-left: -16px !important;
  margin-right: -16px !important;
}

.removeGutter {
  padding-left: 16px !important;
  margin-right: -16px !important;
  padding-right: -16px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.description {
  padding-right: 32px;
}
