.field {
  width: 100%;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  max-width: 20px;
}

.addButton {
  display: flex;
  float: right;
  min-width: 0 !important;
  min-height: 0;
  padding: 0;
}
