.logo {
  width: 50%;
}

.table {
  width: 100%;
}

.paper {
  padding: 1rem;
  margin-top: 1rem;
}

.field {
  width: 80%;
}

.button {
  width: 100%;
  margin-top: 2rem;
}

.wrapper {
  padding-top: 1.5rem;
}

.polls {
  white-space: "pre-wrap";
  overflow-wrap: "break-word";
  width: 90vw;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

form .field {
  margin: 0 1rem;
}

.paper {
  margin: 0 5rem;
}
