.field {
  width: 100%;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  max-width: 20px;
}

.button {
  display: flex;
  padding: 0;
  min-width: 0;
}
