@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.app {
  font-family: "Poppins";
  text-align: center;
  margin: auto;
  padding: 0;
}

.clickable {
  cursor: pointer;
}
