.opts {
  align-items: stretch;
  margin-right: -16px !important;
  width: calc(100% + 32px) !important;
}

.removeGutter {
  margin-left: -16px !important;
  padding-left: 16px !important;
  margin-right: -16px !important;
  padding-right: 16px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.description {
  padding-right: 16px;
}

.stretchList {
  margin-left: -16px !important;
  padding-left: 16px !important;
  margin-right: -16px !important;
  padding-right: 16px !important;
}
